<script>
import List from '../components/List.vue';

export default {
  name: 'Exercise1',
  components: {
    List
  },
  data() {
    return {
      list1: ['apple','banana','orange'],
      list2: [
        { name: 'apple', color: 'red' },
        { name: 'banana', color: 'yellow' },
        { name: 'orange', color: 'orange' }
      ],
    }
  }
}
</script>

<template>
  <div>
    <h1>Exercise 1</h1>
    <p>Create a <code>List.vue</code> component that can render both of the following lists.</p>
    <img src="/assets/list.png" style=""/>
    <h4>List 1</h4>
    <list :items="list1" />
    <h4>List 2</h4>
    <list :items="list2" class="my-styled-list">
      <template v-slot="{item, i}">
        <span class="list-item-color" :style="{ borderBottomColor: item.color }">{{item.color}}</span>
        <span class="list-item-name" :style="{ borderBottomColor: item.color }">{{ item.name }}</span>
      </template>
    </list>
  </div>
</template>

<style lang="less">
.my-styled-list {
  border: 1px solid #CCCCCC;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  min-width: 320px;
  padding: 0;

  span {
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    padding: 4px 12px;
    width: calc(50% - 24px);
  }

  .list-item-color {
    border-right: 1px solid #CCCCCC;
    width: calc(50% - 25px);
  }
}

img {
 box-shadow: 2px 2px 4px #AAA;
 max-width: 320px;
 padding: 8px;
}
</style>
