<script>
import Btn from '../components/Button.vue';

export default {
  name: 'Exercise3',
  components: {
    Btn
  },
  data() {
    return {
      buttonTextState: 'default',
    }
  },
  methods: {
    swapButtonText() {
      this.buttonTextState = this.buttonTextState === 'default' ? 'alternate' : 'default';
    },
  }
}
</script>

<template>
  <div>
    <h1>Exercise 3</h1>
    <p>Make sure that the previous button can modify other sibling components when clicked.</p>
    <btn @button-click="swapButtonText">Click Me!</btn>
    <btn @button-click="swapButtonText">
      <span v-if="buttonTextState==='default'">My Text should change</span>
      <span v-if="buttonTextState==='alternate'">It works!</span>
    </btn>
  </div>
</template>
