<script>
import MyInput from '../components/MyInput.vue';

export default {
  name: 'Exercise8',
  components: {
    MyInput
  },
  data() {
    return {
      userIsTyping: 0
    }
  },
  methods: {
    displayTypingIndicator() {
      this.userIsTyping++;
      setTimeout(() => {
        this.userIsTyping--;
      }, 750)
    }
  }
}
</script>

<template>
  <div>
    <h1>Exercise 8</h1>
    <p><strong>Transparent Components</strong> - Create a `MyInput.vue` component that is an input with an optional label.</p>
    <my-input @input="displayTypingIndicator">
      <template #label>Chat</template>
    </my-input>
    <span v-if="userIsTyping"><sub><em>typing ...</em></sub></span>
  </div>
</template>
