<script>
export default {
  name: 'MyInput',
  data() {
    return {
      uid: 0
    }
  },
  created() {
    this.uid = Math.random();
  }
}
</script>

<template>
  <div>
    <slot name="label">
      <label for="uid"></label>
    </slot>
    <input id="uid" type="text" />
  </div>
</template>
