<script>
export default {
  name: 'StateChange',
  data() {
    return {
      state: 'initial'
    }
  },
  methods: {
    changeState() {
      if(this.state === 'initial') {
        this.state = 'transition';
        setTimeout(() => {
          if(this.state === 'transition') this.state = 'final';
        }, 1000);
      } else if(this.state === 'transition') {
        this.state = 'error';
      } else {
        this.state = 'initial'
      }
    }
  }
  // Write your code here
}
</script>

<template>
  <span>
    <slot name="initial" v-if="state==='initial'">Submit</slot>
    <slot name="transition" v-if="state==='transition'">Submitting</slot>
    <slot name="final" v-if="state==='final'">Done</slot>
    <slot name="error" v-if="state==='error'">Error</slot>
  </span>
</template>
